# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints and large binaries
*.pt
*.bin
checkpoints/
artifacts/*.pt
colab_auramind_test/

# Data archives & raw datasets
*.tar.gz
*.csv
data/
raw/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# OS generated
Thumbs.db
Desktop.ini
.DS_Store
